html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-color: #262626;
  font-family: 'raleway-light', helvetica, arial;
  line-height: 1.4125rem;
}

::selection {
  background: #44ACCF;
}

/* TYPOGRAPHY
-------------------------------------------------*/

h1 {
  font-family: 'raleway-regular', helvetica, arial;
  font-size: 1.8125rem;
  line-height: 2.625rem;
  margin-bottom: 0.625rem;
}

h2, legend {
  font-family: 'raleway-light', helvetica, arial;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  margin-bottom: 0.625rem;
}

h3 {
  border-bottom: 1px dashed #696969;
  font-family: 'raleway-lightitalic', helvetica, arial;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  margin-bottom: 1.3125rem;
}

h4 {
  font-family: 'raleway-medium', helvetica, arial;
  font-size: 0.825rem;
  text-transform: uppercase;
}

a {
  color: #44ACCF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0.625rem;
}

em {
  font-family: 'raleway-lightitalic', helvetica, arial;
}

small {
  font-size: 0.825rem;
}

/* LAYOUT
-------------------------------------------------*/

.container {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 960px;
  width: 90%;
}

header {
  width: 100%;
}

nav {
  font-size: 1.3125rem;
  margin: 0 auto;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 1.3125rem;
}

nav li:last-child {
  margin-right: 0;
}

.content {
  width: 100%;
}

.content .container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.content .container div {
  margin-right: 3.975rem;
}

.content .container .sidebar {
  margin-right: 0;
  min-width: 15rem;
}

section, form {
  margin-bottom: 1.8125rem;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 0;
}

.sidebar section {
  margin-bottom: 1rem;
}

.toggle {
  cursor: pointer;
  display: block;
  margin-bottom: 0.625rem;
}

footer {
  border-top: 1px solid #ccc;
  width: 100%;
}

/* LISTS
-------------------------------------------------*/

ul {
  list-style-type: disc;
  margin-bottom: 0.625rem;
}

li {
  margin-bottom: 0.25rem;
}

td {
  padding-right: 0.625rem;
}

/* FORMS
-------------------------------------------------*/

label {
  display: inline-block;
  font-family: 'raleway-light', helvetica, arial;
  font-size: 0.825rem;
  text-transform: uppercase;
}

input[type=text],
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  font-family: 'raleway-light', helvetica, arial;
  font-size: 1rem;
  padding: 0.5rem 0.625rem;
}

input:focus,
textarea:focus {
  outline: #44ACCF auto 5px;
}

input[type=radio] {
  display: inline-block;
}

.radio {
  margin-bottom: 0.25rem;
}

.radio label {
  font-size: 1rem;
  text-transform: none;
}

input[type=submit] {
  background-color: #44ACCF;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: 'raleway-light', helvetica, arial;
  font-size: 1rem;
  padding: 0.5rem 0.625rem;
}

input[type=submit]:hover {
  cursor: pointer;
}

/* FONTZ
-------------------------------------------------*/

@font-face {
  font-family: 'raleway-light';
  src: url('/fonts/raleway-light.eot');
  src: url('/fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/raleway-light.woff2') format('woff2'),
       url('/fonts/raleway-light.woff') format('woff'),
       url('/fonts/raleway-light.ttf') format('truetype'),
       url('/fonts/raleway-light.svg#raleway-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-lightitalic';
  src: url('/fonts/raleway-lightitalic.eot');
  src: url('/fonts/raleway-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/raleway-lightitalic.woff2') format('woff2'),
       url('/fonts/raleway-lightitalic.woff') format('woff'),
       url('/fonts/raleway-lightitalic.ttf') format('truetype'),
       url('/fonts/raleway-lightitalic.svg#raleway-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-medium';
  src: url('/fonts/raleway-medium.eot');
  src: url('/fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/raleway-medium.woff2') format('woff2'),
       url('/fonts/raleway-medium.woff') format('woff'),
       url('/fonts/raleway-medium.ttf') format('truetype'),
       url('/fonts/raleway-medium.svg#raleway-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('/fonts/raleway-regular.eot');
  src: url('/fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/raleway-regular.woff2') format('woff2'),
       url('/fonts/raleway-regular.woff') format('woff'),
       url('/fonts/raleway-regular.ttf') format('truetype'),
       url('/fonts/raleway-regular.svg#raleway-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
