/*
* CSS
* 
* @version 1.0
* @author Nick Meccia
*
*/

@font-face {
	font-family: myFont;
	src: url('/fonts/myFont.ttf');
}

p.head_1 {
	font-size: 26px;
	font-family: myFont;
}

p.head_2 {
	font-size: 21px;
	font-family: myFont;
	/***italicize**/
}

p.head_blue {
	color: #44c1cf;
	font-size: 17px;
	font-family: myFont;
	line-height: 1px;
}

img {
	border-style: none;
}
a:link, a:active, a:visited, a:hover { color: #44c1cf; text-decoration:none; }
	
a.custom_font {
	font-size: 20px;
	font-family: myFont;
}

body {
	font-size: 12px;
	font-color: #262626;
	font-family: helvetica, arial;
	line-height: 18px;
	background: #ffffff;
	width: 1000px;
	margin: 0 auto;
}

.nav-hor {
	padding: 0px;
	width: auto;
}

.nav-hor ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-hor li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

#header {

}

#container {
		width: 800px;
		margin: 0 auto;
}

#links {
	font-size: 16px;
	font-color: #44c1cf;
	font-family: helvetica, arial;
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 15px;
}

#yield {
	width: 580px;
	float:left;
}

#sidebar {
	width: 180px;
	float:right;
	border-left: 1px solid #696969;
	padding-left: 20px;
}

#text_box {
	line-height: 15px;
}

img.center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}