/*
* CSS
* 
* @version 1.0
* @author Nick Meccia
*
*/

@font-face {
	font-family: myFont;
	src: url('/fonts/myFont.ttf');
}

p.head_1 {
	font-size: 26px;
	font-family: myFont;
}

p.head_2 {
	font-size: 21px;
	font-family: myFont;
	/***italicize?**/
}

p.head_3 {
	color: #44c1cf;
	font-size: 21px;
	font-family: myFont;
	padding-bottom:10px;
	border-bottom: 1px dashed #696969;
}

p.head_4 {
	font-size:14px;
	font-family: myFont;
	margin-bottom: 5px;
}

p.head_blue {
	color: #44c1cf;
	font-size: 17px;
	font-family: myFont;
	line-height: 0px;
}

img {
	border-style: none;
}
a:link, a:active, a:visited, a:hover { color: #44c1cf; text-decoration:none; }
	
a.custom_font {
	font-size: 20px;
	font-family: myFont;
}


#wrap {
	width: 1000px;
	background: #ffffff;
}

body {
	font-size: 12px;
	font-color: #262626;
	font-family: helvetica, arial;
	line-height: 24px;
	background-image: url('/images/tile.jpg');
	width: 1000px;
	margin: 0 auto;
}

.nav-hor {
	padding: 0px;
	width: auto;
}

.nav-hor ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-hor li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

#header {

}

#container {
		width: 800px;
		margin: 0 auto;
}

#links {
	font-size: 16px;
	font-color: #44c1cf;
	font-family: helvetica, arial;
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 15px;
}

#yield {
	width: 580px;
	float:left;
}

#sidebar {
	width: 180px;
	float:right;
	border-left: 1px solid #696969;
	padding-left: 20px;
}


#footer {
	width: 800px;
	display: block;
	clear: both;
	border-top: 1px solid #696969;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: center;
}

#text_box {
	line-height: 15px;
}

img.center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

form.send_email_form fieldset {
	border-style: none;
	margin-left: 60px;
}
form.send_email_form fieldset textarea {
	width: 275px;
	height: 100px;
	border: 1px solid #44c1cf;
}

form.send_email_form fieldset input[type=text] {
	width: 275px;
	border: 1px solid #44c1cf;
}

form.send_email_form fieldset input[type=submit] {
 	margin-left: 162px;
	border: 1px solid #44c1cf;
	background-color: #ffffff;
}

form.send_email_form label {
	width: 150px;
	padding-right: 5px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.toggle {
	color: #44c1cf;
	font-size: 17px;
	font-family: myFont;
}

.showable {
}