<section>
  <h1>about</h1>

  <div class="group-photo"></div>
</section>

<section>
  <h2>practice philosophy</h2>

  <p><em>Your smiles are our priority!</em></p>

  <p>With over 25 years of experience, Dr. Ziols conforms to the best practices needed to serve our patients while utilizing state-of-the-art technology. As a practice, we are true believers that preventative care and education are the keys to optimal dental health.</p>

  <p>A standard of excellence in personalized dental care enables us to provide the quality dental services our patients deserve. In addition, using the latest technology not only make us better and more efficient, it enhances our ability to make sure your visit is as relaxed and comfortable as possible.</p>

  <p>We believe that quality communication between patient and doctor is at the heart of developing a relationship of trust and confidence. We see each patient as a member of our dental care family.</p>
</section>

<section>
  <h2>meet the doctor</h2>

  <p>Dr. Ziols resides in Park Ridge with his wife and three sons. He is a graduate of the prestigious Loyola School of Dentistry, from which he earned his Doctoral of Dental Surgery in 1983. He is associated with many post-graduate programs including the Pankey Institute for Advanced Dental Studies and is also associated with and active in many national and local dental organizations, including the American Dental Association, Illinois Dental Society, Chicago Dental Society, and the Academy of General Dentistry.</p>

  <p>He is committed to remaining up to date in the changing environment of dental care by consistently taking continuing education classes and making enhancements in advanced dental technology. As a second generation dentist, Dr. Ziols has treated three generations of many families. His dedication to excellence continues as the cornerstone of his practice.</p>
</section>
