<p class="head_1">faq</p>

<p><ul>
<li>Oral Health Care & Products</li>
<li>Links to sites providing helpful information on oral health and home care products patients can use to maintain optimum oral health.</li>
<li>Colgate</li>
<li>Trusted resource for dental health information and oral care products.</li>
<li>Crest</li>
<li>One of the world's most trusted brands in dental products.</li>
<li>Oral-B</li>
<li>Oral-B developed this learning center for dental health education to promote oral care habits that are essential to the lifelong health of teeth and gums.  The site includes information and advice for children, adults, and dental health teachers.</li>
<li>Sonicare</li>
<li>Learn how the Sonicare toothbrush creates an indescribable clean feeling, the benefits you can expect, and even take a factory tour.</li>
<li>General Dental Websites</li>
<ul>