<h1>welcome</h1>

<p>Since 1983, Dr. Gordon Ziols has been delivering excellent dental care for all ages in a modern, comfortable, supportive and caring environment.  Your smile and overall health is our top priority.  Our extensive expertise in dentistry is coupled with genuine concern for and knowledge of our patients.  We combine this personalized service with our commitment to the best practices in dentistry and state-of-the art technology.</p>

<p>Our patients know that we:</p>

<ul>
  <li>Treat them as part of our extended dental family</li>
  <li>Provide personalized gentle care that they deserve</li>
  <li>Are concerned with their well being, not just their teeth</li>
  <li>Are sensitive to their time by being on time ourselves</li>
  <li>Listen carefully to what they say</li>
  <li>Respect their well-informed choices</li>
</ul>

<p>Today, more than ever, it is important that you maintain healthy teeth and gums. Research is showing that poor oral health can be a major contributing factor to heart disease, diabetes, premature term pregnancies, chronic inflammatory diseases, and many other health conditions. We are your center for heart-healthy dentistry.</p>