<h1>links</h1>

<div class="links">
  <section>
    <%= link_to image_tag("ada.jpg"), 'http://ada.org/', {:target => "_new"} %>
    <p>The <%= link_to "ADA", 'http://ada.org/', {:target => "_new"} %> is a professional association of dentists committed to the public’s oral health, ethics, science and professional advancement. Also see their <%= link_to "dictionary of dental terms", 'http://www.ada.org/373.aspx', {:target => "_new"} %></p>
  </section>

  <section>
    <%= link_to image_tag("academy.jpg"), 'http://www.agd.org/splash/default.asp', {:target => "_new"} %>
    <p>The <%= link_to "Academy of General Dentistry", 'http://www.agd.org/splash/default.asp', {:target => "_new"} %> is an organization of general dentists dedicated to continuing education and reliable consumer information.</p>
  </section>

  <section>
    <%= link_to image_tag("carecredit.jpg"), 'http://www.carecredit.com/dentistry/whycc.html', {:target => "_new"} %>
    <p><%= link_to "CareCredit", 'http://www.carecredit.com/dentistry/whycc.html', {:target => "_new"} %> can help you get the healthy, radiant smile you’ve always wanted with the card designed specifically for your health and beauty needs. CareCredit offers No Interest and low monthly payment options, no up-front costs, no prepayment penalties and no annual fees so you can show off those pearly whites as soon as you’re ready. And if your dentist recommends a procedure your wallet’s not quite ready for, CareCredit can help you get it sooner. Feel free to put a big smile on your face.</p>
  </section>

  <section>
    <%= link_to image_tag("invisalign.jpg"), 'http://www.invisalign.com/How-Invisalign-Works/Pages/default.aspx', {:target => "_new"} %>
    <p><%= link_to "Invisalign", 'http://www.invisalign.com/How-Invisalign-Works/Pages/default.aspx', {:target => "_new"} %> is the virtually invisible way to straighten your teeth without braces. The invisalign system uses a series of clear, removable aligners to move your teeth over time to give you the smile you deserve.</p>
  </section>

  <section>
    <%= link_to image_tag("floss.jpg"), 'http://www.floss.com/', {:target => "_new"} %>
    <p><%= link_to "Floss.com", 'http://www.floss.com/', {:target => "_new"} %> contains a wide variety of dental health information, including articles on women's dental health issues, child dental care information, halitosis (bad breath), and new dental product information.</p>
  </section>

  <section>
    <%= link_to image_tag("colgate.jpg"), 'http://www.colgate.com/app/Colgate/US/HomePage.cvsp', {:target => "_new"} %>
    <p><%= link_to "Colgate", 'http://www.colgate.com/app/Colgate/US/HomePage.cvsp', {:target => "_new"} %> is a trusted resource for dental health information and oral care products.
  </section>

  <section>
    <%= link_to image_tag("crest.jpg"), 'http://www.crest.com/', {:target => "_new"} %>
    <p><%= link_to "Crest", 'http://www.crest.com/', {:target => "_new"} %> is one of the world's most trusted brands in dental products.
  </section>

  <section>
    <%= link_to image_tag("oralb.jpg"), 'http://www.oralb.com/', {:target => "_new"} %>
    <p><%= link_to "Oral-B", 'http://www.oralb.com/', {:target => "_new"} %> developed a learning center for dental health education to promote oral care habits that are essential to the lifelong health of teeth and gums. The site includes information and advice for children, adults, and dental health teachers.
  </section>

  <section>
    <%= link_to image_tag("sonicare.jpg"), 'http://www.sonicare.com/', {:target => "_new"} %>
    <p><%= link_to "Sonicare", 'http://www.sonicare.com/', {:target => "_new"} %> toothbrushes create an indescribably clean feeling.
  </section>

  <section>
    <%= link_to image_tag("national.jpg"), 'http://www.dentalmuseum.org/', {:target => "_new"} %>
    <p><%= link_to "The National Museum of Dentistry", 'http://www.dentalmuseum.org/', {:target => "_new"} %> is a Smithsonian Institution Affiliate, and is a lively national center where visitors learn the importance of a healthy smile and are fascinated by the rich history of dentistry.</p>
  </section>
</div>
