<p class="head_1">new patients</p>

<p>Thank you for choosing us to provide your dental care. Our goal is to provide timely, comprehensive treatment to people of all ages with empathy and respect, in a relaxed and professional environment, using state of the art technology.</p>

<p>For patients to choose a dental office appropriate to their needs there must exist a match between services sought by the patient and the services provided by the office. Our team maintains the highest standards of skill, concern and quality of care.</p>


<div class="toggle" data-target="1">
	Your First Appointment
</div>
<div id="showable-1" class="showable">
	<p>Your initial appointment will take approximately 1 hour. Please click here to download your New Patient Package. It is important that you completely fill out these forms and bring them, along with your insurance card, to your first visit. In order to best serve your needs we cannot begin the appointment without these records. Excellence in dentistry begins with a careful diagnosis and treatment plan to move us towards the goals we will establish together. During your first visit, we will perform a comprehensive examination of teeth, gums, bite, joints and soft tissue. We will utilize all cavity and disease detecting radiographs and intra-oral photographs to identify areas of concern, determine your needs and develop a lifetime plan for your oral health. We believe this in-depth examination to be the cornerstone of quality dentistry.</p>
	
	<p>Welcome to our practice and thank you for giving us the opportunity to serve your dental health needs.</p>

	<p><b>IMPORTANT: All patients under the age of 18 years of age must be accompanied by a parent or guardian at the initial consultation.</b></p>
</div>



<div class="toggle" data-target="2">
	New Patient Forms
</div>
<div id="showable-2" class="showable">
	<p>This is where a description of the new patient forms and what one is to do with them.</p>
	<p><%= link_to "download pdf", "files/new_patient_forms.pdf"%></p>
</div>

<div class="toggle" data-target="3">
	Dental Insurance
</div>
<div id="showable-3" class="showable">
	<p>We would be pleased to assist you in maximizing your insurance benefits by completing your claim forms. Please remember that our professional services are rendered and charged to you, not your insurance company. Dental insurance pays only a portion of your investment. Your actual coverage depends on a variety of factors.</p>

	<p>Most plans base the amount of benefits on a schedule of fees arbitrarily developed by insurance companies, not from the actual fees charged by an office. As a result, you may receive a lower percentage than the reimbursement level indicated in your dental plan.</p>
</div>


<div class="toggle" data-target="4">
	Financial Policy
</div>

<div id="showable-4" class="showable">
	<p>Dental treatment is an excellent investment in an individual's medical and psychological well-being. Financial considerations should not be an obstacle to obtaining this important health service. We realize that people have different needs in fulfilling their financial obligations, and therefore, are providing the following payments options.</p>

	<p>For your convenience, you may choose from any of the following forms of payment: Cash, Visa, Master Card, American Express, Discover, Personal Checks, Direct Debit to a personal account of your choice, and/or with third party financing through such companies as <%= link_to "CareCredit", 'http://www.carecredit.com/dentistry/whycc.html', {:target => "_new"} %>. </p>
</div>


<div class="toggle" data-target="5">
	Location & Parking
</div>

<div id="showable-5" class="showable">
	<p>Here is some information on your location and parking. </p>
</div>














