<section>
  <h1>services</h1>
  <p>Dr Ziols offers comprehensive dental treatment and diagnosis to patients of all ages.</p>
</section>

<section>
  <h2>prevention & diagnosis</h2>
  <ul>
    <li>Oral examinations</li>
    <li>Oral cancer screenings</li>
    <li>Routine dental cleanings</li>
    <li>Fluoride treatment & sealants</li>
    <li>Digital x-rays</li>
    <li>Non-surgical periodental treatments</li>
  </ul>
</section>

<section>
  <h2>restorative procedures</h2>
  <ul>
    <li>Dental implants</li>
    <li>Crowns, onlays, & inlays</li>
    <li>Fixed bridges</li>
    <li>Complete & partial dentures</li>
    <li>Root canal therapy</li>
  </ul>
</section>

<section>
  <h2>cosmetic dental procedures</h2>
  <ul>
    <li>Tooth-colored fillings</li>
    <li>Veneers & bonding</li>
    <li>Porcelain crowns, inlays, & onlays</li>
    <li>Porcelain fixed bridges</li>
    <li>Smile makeovers</li>
    <li>In-office whitening</li>
  </ul>
</section>

<section>
  <h2>periodontal procedures</h2>
  <ul>
    <li>Diagnosis</li>
    <li>Scaling & root planing (deep cleaning)</li>
    <li>Maintenance</li>
  </ul>
</section>
